project_path: $GOPATH/src/
module_name: github.com/edteamlat/go-wizzard

# Use for the name of the structs of the different layers
model: UserRole

# Will be use for the table name and constraints
# also, it'll be converted to camel case to be use
# for the Slice model
table: user_roles

table_comment: Write your comment here

# choose the type of the dates (valid options: time.Time and int64 for unix)
time_type: time.Time

# choose the type of the primary key (valid options: uint, uuid.UUID)
id_type: uint

# a list of objects where you specify the name, type and if it allows nulls
fields:
  - name: user_id
    type: uint
    is_null: false
  - name: description
    type: string
    is_null: true
    field_size: 100 # only for string type, if not specified, it'll be 255, if you put -1, it'll be of type TEXT instead of VARCHAR
  - name: created_at
    type: time.Time
    is_null: false

# The available layers that we can generate
# if you don't want to use one, just remove it
layers: # by default the fields id, created_at and updated_at will be created
  - domain
  - handler_echo # we only support the echo framework for now
  - storage_postgres # we don't support other db system for now
  - model
  - sqlmigration_postgres # here we'll save the sql files to modify our db, it only supports postgres syntax for now

