project_path: $GOPATH/src/

# Use for the name of the structs of the different layers
model: UserRole

# Will be use for the table name and constraints
# also, it'll be converted to camel case to be use
# for the Slice model
table: user_roles

# a list of fields with the format of map:
# field_name: go-type:not null
fields:
  user_id: uint
  role_id: int
  is_active: true
  description: string:not null # with the : separator you can specify whether you want to allow null or not
  created_at: time.Time # if we don't specify the third value, by default will be NULL

# The available layers that we can generate
# if you don't want to use one, just remove it
# format = layer-name: "path/to-save-layer#
# the path of the layer will be appended to the project_path
# by default we set the recommended path for each layer
layers:
  domain
  handler_echo # we only support the echo framework for now
  storage_postgres # we don't support other db system for now
  model
  sqlmigration_postgres # here we'll save the sql files to modify our db, it only supports postgres syntax for now

